body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	text-align:center;
	background-image: url("images/background_01.png");
	background-repeat: no-repeat;
	background-size: 100%;
    background-color: #ffffff;
}

h1 {
	font-size: 24px;
	padding-bottom: 10px;
}

.space {
	height: 50px;
}

#logo {
	margin: 100px 0 20px;
}

ul li {
	list-style: none;
	cursor: pointer;
}

ul li img {
	display: inline;
	float: left;
	width: 20%;
	height: auto;
	margin: 0 10px 10px 0;
	border: 3px solid #fff;
	border-radius: 5px;
	box-shadow: 0 .5px 5px .5px #888888;
	cursor: pointer;
}

.card:hover {
		opacity: 0.5; 
		filter: alpha(opacity=50);
		cursor: pointer;
	}

.card:active {
		opacity: 0.5; 
		filter: alpha(opacity=50);
	}

button {
	width: 100%;
}

#player img {
	width: 100%;
	height: auto;
	margin-top: 15px;
	border: 5px solid #fff;
	border-radius: 5px;
}

.versus {
	margin: 100px 0;
	font-weight: 600;
}

#enemy img {
	width: 100%;
	height: auto;
	margin-top: 15px;
	border: 5px solid #fff;
	border-radius: 5px;
}

#attackBtn {
	color: #fff;
	width: 100%;
	margin-top:20px;
	margin-bottom:30px;
	padding: 10px;
	background: #e20d46;
	border: 4px solid #bc0737;
	border-radius:5px;

}